.input {
  display: flex;
  background: white;
  color: black;
  padding: 0.5rem;
  width: 100%;
}

.button {
  padding: 0.625rem 0.875rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #4f46e5;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.button:hover {
  background-color: #6366f1;
}

.error {
  padding: 1rem;
  text-align: left;
  background: #ff3c61;
  color: white;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.urlEntry {
  border: 1px solid white;
  padding: 1rem;
  list-style: none;
  margin-bottom: 1rem;
  display: grid;
  gap: 1rem;
}

.wrapLong {
  overflow-wrap: break-word;
  word-break: break-all;
  margin-top: 1rem;
}

.large {
  font-size: 1.3rem;
}
